body {
  background-color: aqua;
  margin: 0;
}

.box {
  width: auto;
  margin: 0 20%;
  height: 300px;
  background-color: lightgreen;
}

.box-children {
  width: 100%;
  margin-left: 20px;
  height: 150px;
  background-color: blueviolet;
}
